#header {
	background-color: cyan;
	margin: 10px;
	text-align: center;
	font-size: 40pt;
	background-image: url("http://www.buildyourownhouse.ca/images/New%20Folder%20(6)/clearsky1lg.jpg");

}

body {
	background-image: url("http://wallpapercolor.net/wallpapers/cool-blue-backgrounds-wallpaper-15306.jpg");
	background-repeat: repeat;
}
.item {
	background-color: #48C8FF;
	margin: 5px;
}

.column {
	width: 45%;
	background-color: tan;
	height: 80%;
}


#campaign {
	width: 60%;
	height: 60px;
}
#columnright {
	float: right;
}

#columnleft {
	float: left;
}

form {
	text-align: center;
	color: orange;
}

label {
	margin: auto;
}

.button {
	width: 100px;
	height: 50px;
	float: right;
}
